@media (min-width:150px) and (max-width:576px) {
    #qs__main {
        max-height:2200px;

    }

    nav {
        width: 100%;
        height: 6rem;
        background-color: black;
        color: $color-primary;
        overflow: hidden;
    }






    #header__navbar {
        position: fixed;
        top: 0;
        border-bottom: 1px solid rgb(29, 29, 29);
        background-color: black;

    }


    #intro-home {
        color: $color-primary;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        display: grid;
        width: 50%;
        line-height: 1.6;
    }

    #intro-home p {

        font-size: 14px;
        margin-top: auto;
        margin-bottom: auto;

    }

    #intro-home img {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }

    #home__header {
        background-image: url("../img/b3.webp");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 10%;
        background-size: 110%;
        height: 400px;
        

    }

    .home-grid {
        display: grid;
        height: 740;
        grid-template-rows: 100px 300px 180px;
        justify-content: center;
        align-content: center;
        margin-bottom: 20px;
    }

    .h-grid-h1 {
        grid-row: 1 / 2;
    }

    .h-grid-img {
        grid-row: 2 / 3;
    }

    .h-grid-p {
        grid-row: 3 / 4;
    }

    .titulo-principal {
        font-family: 'monserrat', sans-serif;
        color: $color-primary;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        text-decoration: none;
        padding-top: auto;
        padding-bottom: auto;

    }

    #intro-home-h1 {
        font-family: 'monserrat', sans-serif;
        color: $color-primary;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        text-decoration: none;
        padding-top: auto;
        padding-bottom: auto;

    }

    /*quienes-somos*/
    #qs__heading {
        text-align: center;
        margin-top: 1%;
        margin-bottom: 5%;
        padding: 12px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

    }

    #qs__heading h1 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #qs__heading p {
        line-height: 1.6;
    }

    #qs__titulo {
        color: $color-primary;
        font-family: 'IBM Plex Sans Condensed', sans-serif;


    }

    .qs__p {
        color: $color-primary;
        line-height: 1.6;
        font-family: 'IBM Plex Sans Condensed', sans-serif;

    }

    .qs__video {
        color: $color-primary;
        line-height: 1.6;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 05px;
        width: 40%;
        display: grid;
        grid-template-rows: 100px 40px 500px;
      
        &_title {
        margin-bottom: 20px;
        grid-row: 1 / 2;
    }
    }

    #video {
display: none;
        
    }
   iframe{
            display: none;
        }

    

    .qs__video_p {
        margin-top: 30px;
        margin-bottom: 120px;
        grid-row: 3 / 4;
    }
    #youtube img{
        width: 30px;
        height: 30px;
    }
    /*Servicio*/
    @mixin grids {
        color: white;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        line-height: 1.6;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
        
      }
      .servicio-grid{
        margin-top: 7%;
        display: grid;
        grid-template-rows: 400px 200px 200px 200px 200px 200px 0px;
        grid-row-gap:5% ;
    }
    
        .subtitulo__servicio {
            color: white;
            font-family: 'IBM Plex Sans Condensed', sans-serif;
            margin-top: 3%;
            margin-bottom: 1%;
            text-align: center;
        }
    
        
    
      
    
      
    
        .p__right {
            width: 40%;
            margin-left: 3%;
            margin-top: auto;
            margin-bottom: auto;
            grid-row: 3 / 4;
            
            @include grids;
        }
    
        .p__left_one {
            width: 40%;
            margin-right: 3%;
            margin-top: auto;
            margin-bottom: auto;
        grid-row-start:1;
        grid-row-end: 2;
       
        @include grids;
        }
        .p__left_two {
            width: 40%;
            margin-right: 3%;
            margin-top: auto;
            margin-bottom: auto;
            grid-row:5 / 6  ;
           
            @include grids;
    
        }
    
        #img__right_one{
            width: 80%;
            height: 353.11px;
            grid-row: 2 / 3;
            
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        }
        #img__right_two{
            width: 80%;
            height: 326.63px;
            grid-row: 6 / 7;
            
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        }
        .img__left {
            width: 80%;
            height: 341.73;
            grid-row: 4 / 5;
            
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
        }
    
        #img__right_one img {
            width: 100%;
           
        }
        #img__right_two img {
            width: 100%;
        }
    
        .img__left img {
            width: 100%;
        }
    
        #sub__left {
            text-align: center;
            margin-bottom: 5%;
            
        }
        #sub__left_two {
            text-align: center;
            margin-bottom: 5%;
            
        }
    
        #sub__right {
            text-align: center;
            margin-bottom: 5%;
        }
    
        #main__servicio {
            margin-left: auto;
            margin-right: auto;
            height: 1900px;
            width: 90%;
    
        }

    /*donde-estamos*/
    #de__titulo {
        color: $color-primary;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        text-align: center;
        margin-top: 2%;
    }

    #de__mapa {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }

    #mapa {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #de__parrafo {
        color: $color-primary;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        line-height: 1.6;
        text-align: center;
        margin-top: 1%;

    }

    /*contacto*/
    form {
        width: 100%;
        line-height: 2;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7%;
        margin-bottom: 10%;
        background-color: rgb(20, 20, 20);
        color: $color-primary;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        font-size: larger;
        padding: 1%;



    }

    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited {
        background-color: #5e5e5e !important;
        border: 1px solid $color-primary !important;
    }

    .main__contacto {
        padding-left: 33%;
        padding-right: 33%;
        margin-top: 5%;
    }

    #contactate {

        color: $color-primary;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
    }

    @mixin contacto{
        color: black;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        margin-top: 2%;
        margin-bottom: 2%;
        display: block;
    }
    
        
        #nombre {
    
            @include contacto;
        }
    
        #mail {
    
    
            @include contacto;
        }
    
        #tel {
    
    
            @include contacto;
        }
    
        #comentario {
    
    
            @include contacto;
    
        }
    #submit {
        margin-top: 40px;
    }

    fieldset {
        color: $color-primary;
        border-radius: 7px;

    }

    #fieldset__contacto {
        text-align: left;
        padding: 2%;
    }



    .nav__links--li:hover {
        background-image: linear-gradient(to right, rgb(74, 74, 74), rgb(39, 39, 39));
        color: $color-primary;
        text-decoration: none;

    }

    footer {
        color: white;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        width: 100%;
        height: 90px;
        background-color: black;
        padding-top: 45px;
        padding-bottom: 45px;
        text-align: center;
        bottom: 0;
        z-index: -1;
        margin: 0 auto;
        margin-top:100%;
        display: block;
    }
    footer li {

        margin-left: auto;
        margin-right: auto;
        list-style: none;

    }

    .navbar {
        background-color: rgb(0, 0, 0);
        color: $color-primary;
    }

    .navbar-toggler-div {
        background-color: rgb(78, 78, 78);
        border-radius: 10px;
    }

    .offcanvas-body {
        background-color: rgb(26, 26, 26);
    }

    .navbar-nav {
        justify-content: end;
        flex-grow: 1;
    }

    .offcanvas-header {
        background-color: black;
    }

    .btn-close-div {
        background-color: rgb(78, 78, 78);
        border-radius: 10px;
        width: 10%;
        height: 20px;
        justify-content: center;

    }

    .btn-close {
        margin-top: auto;
        margin-bottom: auto;


    }

    .navbar img {
        width: 161.3px;
       height: 41.81px;
        
    }

   
    .header-navbar img {
        min-width: 140.3px;
        min-height: 32.81px;
        margin-left: 15px;

    }
    .header__navbar_img{
        min-width: 161.3px;
        min-height: 41.81px;
        margin-left: 15px;
        margin-right: auto;
    }

    .navbar__links--li {
        height: 20%;
        text-align: right;
        padding: 15px;


    }
    .navbar__links--li li {
        list-style: none;
    }



    /*reemplazar con...*/



}
